<app-header></app-header>
<app-loading *ngIf="isLoading"></app-loading>
<div class="shop-layout-1" id="page" *ngIf="!isLoading">

    <section class="sub-header shop-layout-1">
        <img class="rellax bg-overlay" src="./assets/images/sub-header/01.jpg" alt="">
        <div class="overlay-call-to-action"></div>
        <h3 class="heading-style-3">Stores</h3>
    </section>

    <section class="box-sm" *ngIf="!isLoading">
        <div class="container">
            <div class="row main">
                <div class="row  tienda ">
                    <!-- <figure class="item" *ngFor="let producto of productos |  paginate: { itemsPerPage: count, currentPage: p }"> -->
                    <div class="card " *ngFor="let tienda of tiendas ">
                        <div class="img-wrapper">
                            <a [routerLink]="['../tienda/', tienda._id]">
                                <img [src]="tienda.img| imagenPipe: 'tiendas'" alt="{{tienda.nombre}} thumbnail" />
                            </a>
                            
                        </div>
                        <div class="card-body">
                            <figcaption class="desc text-center">
                                <h3>
                                    <a class="product-name" [routerLink]="['../producto/', tienda._id]">{{tienda.nombre}}</a>
                                </h3>
                                <p [innerHTML]="tienda.direccion"></p>
                            </figcaption>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="fa fa-map-marker"></i> {{tienda.local}}</li>
                            <li class="list-group-item"><i class="fa fa-map-marker"></i> {{tienda.pais}}</li>
                            <li class="list-group-item"><i class="fa fa-map-marker"></i> {{tienda.ciudad}}</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link"><i class="fa fa-phone"></i> {{tienda.telefono}}</a>
                            <a href="#" class="card-link"><i class="fa fa-bookmark"></i> {{tienda.categoria?.nombre}}</a>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>