<section class="bestwelcome">
        <div class="container">
            <h1>The Best welcome to<br> Life in the tropics</h1>
            <img src="./assets/img/caja.png" alt="">
            <div class="footer">
                <p>He has enough money to last forever. He knows he needs to keep moving. You'll never find him. he's out of the picture. I saved his life, I owed him that, but now he and I are done.</p>
                <div class="action">
                    <button class="btn-azul">Discover What's inside</button>
                    <span style="font-family: var(--font);">#WelcomeAcomodo</span>
                </div>
            </div>
        </div>
    </section>