<section class="bestwelcome" >
        <div class="container">
            <h1>La Mejor Bienvenida<br> comprando aquí.</h1>
            <img src="./assets/webp/caja.webp" alt="">
            <div class="footer">
                <p>Bienvenido a MallConnect!, es una plataforma que conecta con los mejores productos y servicios en el mercado. Nuestro Objetivo es proveerte con la mejor expericia en compras, donde la calidad y la satisfacción al cliente es nuestra prioridad.</p>
                
                <div class="action">
                    <button class="btn-azul" [routerLink]="['./productos']">Descubre que hay dentro!</button>
                    <span style="font-family: var(--font);">#BienvenidoMallConnect</span>
                </div>
            </div>
        </div>
    </section>