<app-header></app-header>
<div class="shop-layout-1 " id="page">

    <section class="sub-header shop-layout-1" style="height: 250px;">
        <!-- <img class="rellax bg-overlay" [src]="marca.img | imagenPipe: 'marcas'" alt="{{marca.nombre}} thumbnail"> -->
        <div class="overlay-call-to-action"></div>
        <div style="display: flex; " >
                    <a href="javascript:void(0)" (click)="goBack()"  class="btn-azul  ">volver</a>
                </div>
                &nbsp;&nbsp;
        <h3 class="heading-style-3">Products {{marca.slug}} </h3>
        <h3 class="heading-style-3"></h3>
    </section>
    <app-loading *ngIf="isLoading"></app-loading>

    <section class="box-sm" *ngIf="!isLoading && error">
        <div class="container">
            <div class="row main" style="height: 50vh; display: flex; flex-direction: column; align-items: center; justify-content: center;">
                <p>{{ error }}</p>
                <div style="display: flex; " >
                    <a href="javascript:void(0)" (click)="goBack()"  class="btn-azul  ">volver</a>
                </div>
            </div>
        </div>

    </section>

    <app-search [query]="query" [modelo]="producto" [colleccion]="'productos'" (searchEvent)="($event)" (resetEvent)="PageSize()"></app-search>

    <!-- <app-marcas [limit]="limit" [display]="display"></app-marcas> -->
    <div class="container prodductos-list">
        <div class="grillacard" *ngIf="!isLoading">
            <ng-container class="lista-imagenes" *ngFor="let producto of productos ; let i = index ">
                <div class="cardimageninfo">

                    <div class="cardimagen"
                        [style.background-image]="'url(' + producto.img + ')' | imagenPipe: 'productos'">
                        <div class="info">
                            <div class="topfav" style="cursor: pointer;" *ngIf="identity" (click)="toggleFavorite(producto)">
                                <i class="fa fa-heart-o"></i>
                            </div>
                        </div>
                        <div class="detalle">
                            <div class="basico">
                                <a [routerLink]="['../producto/',producto.slug]">

                                    <h2>{{producto.titulo}}</h2>
                                </a>
                                <!-- <p> <i class="fa fa-marker"></i> {{producto.info_short |slice:0:40}}... </p> -->
                                <p [innerHTML]="producto.info_short |slice:0:20"></p>
                                <div class="precio">
                                    <p style="text-decoration: line-through;" *ngIf="+producto.precio_ahora !== +producto.precio_antes"><b>{{producto.precio_antes|currency}}</b>
                                    </p>
                                    <p><b>{{producto.precio_ahora|currency}}</b></p>
                                    <span
                                                class="badge badge-danger badge-shadow align-middle mt-n2" *ngIf="+producto.precio_ahora !== +producto.precio_antes">Oferta</span>
                                </div>
                            </div>
                            <div class="rating">
                                44.4 <i class="fa fa-star"></i>
                            </div>
                            <div class="adicional">
                                <!-- <p>{{producto.stock}}</p> -->
                            </div>

                        </div>
                    </div>
                </div>

            </ng-container>
            <!-- <button class="btn-orange">View More</button> -->
        </div>

    </div>
</div>
<app-footer></app-footer>