 <!-- slider -->
    <div class="slider beach">
        <div class="mask mask-m"></div>
        <div class="mask mask-d">
            <img   src="./assets/svg/mask-buttons.svg" alt="Mall Connect">
        </div>
        <div class="menucenter">
            <ul>
                <li>
                    <a href="">
                        Find Your Acomodo
                    </a>
                </li>
                <li>
                    <a href="">
                        Become a partner
                    </a>
                </li>
            </ul>
        </div>
        <div class="search">
            <p>When</p>
            <p>Where</p>
            <p>Who</p>
            <img src="./assets/svg/zoom.svg" alt="Mall Connect">
        </div>

        <div class="randomplace">
            <p>New Adventure?</p>
            <a href="homeindividual.html">
                <button class="btn-azul">Random Place</button>
            </a>
        </div>
    </div>
    <!-- slider -->