<div class="container">
        <form class="form-horizontal">
        <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
          <div class="input-group">
            <input type="search" name="search" type="text" class="form-control col-xs-12" placeholder="Buscar"
              [(ngModel)]="query" aria-describedby="button-addon1" class="form-control border-0 bg-light" />
            <div class="input-group-append">
              <button id="button-addon1" type="button" class="btn btn-link text-primary" (click)="search(query)"
                name="submit" data-toggle="tooltip" title="mostrar todos">
                <i class="fa fa-search"></i>
              </button>
              <a href="javascript:;" (click)="reset()" class="btn btn-primary doctor-refresh ms-2"><i
                  class="fa fa-refresh"></i></a>
            </div>
          </div>
        </div>
      </form>
    </div>