 <!-- header -->
    <header>
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="logo logocenter">
                        <a href="index.html">
                            <img src="./assets/logo.png" alt="logo Mall Connect">
                        </a>
                    </div>
                    <div class="logo logocenter logo2">
                        <a href="index.html">
                            <img src="./assets/logo.png" alt="logo Mall Connect">
                            <!-- <img src="./assets/svg/logo-orange-brown.svg" alt="logo Mall Connect"> -->
                        </a>
                    </div>

                    <div class="menuright">
                        <ul>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Nosotros</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="about.html">Eventos Millenium</a>
                                    <a class="dropdown-item" href="about.html">Nosotros</a>

                                </div>
                            </li>
                            <li>
                                <img class="globowhite" src="./assets/svg/globe.svg" alt="Mall Connect">
                                <img class="globoblack" src="./assets/svg/globe-black.svg" alt="Mall Connect">
                            </li>
                        </ul>
                        <div class="menu">
                            <a href="javascript:void(0)" (click)="openMenu()" class="sidemenu-toggler">
                                <span></span>
                                <span></span>
                                <span></span>
                            </a>
                            <img src="./assets/svg/user-login.svg" alt="Mall Connect">
                            <div class="sidemenu">
                                <a href="javascript:void(0)" (click)="closeMenu()" class="close"></a>
                                <nav>
                                    <ul>
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="about.html">Tiendas</a></li>
                                        <li><a href="homeindividual.html">Promociones</a></li>
                                        <li><a href="partners.html">Marcas</a></li>
                                        <li><a href="r">Mi perfil</a></li>
                                        <li><a href="r">Salir</a></li>
                                        <!-- <li><a href="">Contacto</a></li> -->
                                    </ul>
                                </nav>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </header>
    <!-- header -->