<app-header></app-header>
<div class="blog-layout-2" id="page">
    <section class="sub-header shop-layout-1" style="height: 250px;">
        <!-- <img class="rellax bg-overlay" [src]="marca.img | imagenPipe: 'marcas'" alt="{{marca.nombre}} thumbnail"> -->
        <div class="overlay-call-to-action"></div>
        <h3 class="heading-style-3">News </h3>
        <h3 class="heading-style-3"></h3>
    </section>

    <app-loading *ngIf="isLoading"></app-loading>
    <section class="box-sm" *ngIf="!isLoading && error">
        <div class="container">
            <div class="row main" style="height: 50vh; display: flex; align-items: center; justify-content: center;">
                <p>{{ error }}</p>
            </div>
        </div>

    </section>
    <app-search [query]="query"  [colleccion]="'blogs'" (searchEvent)="($event)" (resetEvent)="PageSize()"></app-search>

    <section class="boxed-sm" *ngIf="!isLoading ">
         <div class="container">
        <div class="grilla">

            <ng-container *ngFor="let blog of blogs ; let i = index ">
                <div class="cardimagen" [ngClass]="'div' + (i + 2)"
                    [style.background-image]="'url(' + blog.img + ')' | imagenPipe: 'blogs'">

                    <div class="info">
                        <a [routerLink]="['../blog/',blog.slug]">
                            <h1>{{ blog.titulo }}</h1>
                            <!-- <p [innerHTML]="blog.descripcion"></p> -->
                        </a>
                        <div class="topoftop">
                            <span class="time">{{blog.createdAt | date:'mediumDate'}}</span>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
    </section>
</div>
<app-footer></app-footer>