<div *ngFor="let pago of galeria; let i = index"></div>

<div class="modal fade" id="galleryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
<!-- <h5 class="modal-title" id="exampleModalLabel">{{selectedProduct?.titulo}} </h5> -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="col-12">
                    <div class="card recent-sales overflow-auto">

<img *ngIf="selectedProduct" class="gallery__img" [src]="(selectedProduct?.imagen || '') | imagenPipe: 'galerias'"
                                                    alt="Product thumb">
                        

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>