 <section class="comments">
        <div class="container">
            <h1>What people say about us</h1>
            <div class="comentarios">
                <div class="comentario">
                    <div class="commennt">
                        <i class="fa fa-quote-left"></i>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro atque voluptatem perspiciatis obcaecati, nisi ut mollitia.</p>
                    </div>
                    <div class="userraking">
                        <img src="./assets/img/user1.png" alt="">
                        <div class="stars">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>

                <div class="comentario">
                    <div class="commennt">
                        <i class="fa fa-quote-left"></i>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro atque voluptatem perspiciatis obcaecati, nisi ut mollitia.</p>
                    </div>
                    <div class="userraking">
                        <img src="./assets/img/user2.png" alt="">
                        <div class="stars">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>

                <div class="comentario">
                    <div class="commennt">
                        <i class="fa fa-quote-left"></i>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro atque voluptatem perspiciatis obcaecati, nisi ut mollitia.</p>
                    </div>
                    <div class="userraking">
                        <img src="./assets/img/user3.png" alt="">
                        <div class="stars">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>