<section class="comments">
  <div class="container">
    <h1>What people say about us</h1>

    <div class="carousel">
      <div class="carousel-inner">
        <div *ngFor="let comment of comments; let i = index" class="carousel-item" [class.active]="i === currentSlide">
          <div class="comentario">
            <div class="commennt">
              <i class="fa fa-quote-left"></i>
              <p>{{ comment.text }}</p>
            </div>
            <div class="userraking">
              <img [src]="comment.userImg" alt="User image">
              <div class="stars">
                <ng-container *ngFor="let star of comment.stars">
                  <i *ngIf="star === 1" class="fa fa-star" aria-hidden="true"></i>
                  <i *ngIf="star === 0.5" class="fa fa-star-half" aria-hidden="true"></i>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-indicators">
        <span *ngFor="let comment of comments; let i = index" 
              [class.active]="i === currentSlide" 
              (click)="selectSlide(i)"></span>
      </div>

      <button class="carousel-control prev" (click)="prevSlide()">
        &#10094;
      </button>
      <button class="carousel-control next" (click)="nextSlide()">
        &#10095;
      </button>
    </div>
  </div>
</section>
