<section class="inside">
        <div class="container">
            <h1>What's inside in Mall Connect</h1>
            <p class="text-center mb-3">Discover the best services and products that we have for you.</p>
            <p class="text-center mb-5">Mall Connect offers a wide range of services and products that allow you to enjoy the best of our destination. From high-speed wifi to streaming devices
            <div class="cuadrosinside">
                <div class="cardimagen" style="background-image: url('./assets/img/img-wifi.jpeg');">
                    <div class="detalle">
                        <h2>High-speed Wifi</h2>
                    </div>
                </div>
                <div class="cardimagen" style="background-image: url('./assets/img/img-streaming.jpeg');">
                    <div class="detalle">
                        <h2>Streaming devices</h2>
                    </div>
                </div>
                <div class="cardimagen" style="background-image: url('./assets/img/img-support.jpeg');">
                    <div class="detalle">
                        <h2>24/7 guest support</h2>
                    </div>
                </div>
                <div class="cardimagen" style="background-image: url('./assets/img/img-flex.jpeg');">
                    <div class="detalle">
                        <h2>Flexible Check-in Hours</h2>
                    </div>
                </div>
                <div class="cardimagen" style="background-image: url('./assets/img/img-clean.jpeg');">
                    <div class="detalle">
                        <h2>Always Cleaned</h2>
                    </div>
                </div>
                <div class="cardimagen" style="background-image: url('./assets/img/img-smartgi.jpeg');">
                    <div class="detalle">
                        <h2>Smart guides</h2>
                    </div>
                </div>
            </div>

        </div>
    </section>