<section class="inside">
        <div class="container">
            <h1>What's inside every AcoModo</h1>
            <div class="cuadrosinside">
                <div class="cardimagen" style="background-image: url('./assets/img/img-wifi.jpeg');">
                    <div class="detalle">
                        <h2>High-speed Wifi</h2>
                    </div>
                </div>
                <div class="cardimagen" style="background-image: url('./assets/img/img-streaming.jpeg');">
                    <div class="detalle">
                        <h2>Streaming devices</h2>
                    </div>
                </div>
                <div class="cardimagen" style="background-image: url('./assets/img/img-support.jpeg');">
                    <div class="detalle">
                        <h2>24/7 guest support</h2>
                    </div>
                </div>
                <div class="cardimagen" style="background-image: url('./assets/img/img-flex.jpeg');">
                    <div class="detalle">
                        <h2>Flexible Check-in Hours</h2>
                    </div>
                </div>
                <div class="cardimagen" style="background-image: url('./assets/img/img-clean.jpeg');">
                    <div class="detalle">
                        <h2>Always Cleaned</h2>
                    </div>
                </div>
                <div class="cardimagen" style="background-image: url('./assets/img/img-smartgi.jpeg');">
                    <div class="detalle">
                        <h2>Smart guides</h2>
                    </div>
                </div>
            </div>

        </div>
    </section>