<section class="inside">
        <div class="container">
            <h1>Qué tiene Mall Connect?</h1>
            <p class="text-center mb-3">Descubre los mejores servicios y productos seleccionados para tí.</p>
            <div class="cuadrosinside">
                <div class="cardimagen" style="background-image: url('./assets/img/img-wifi.jpeg');">
                    <div class="detalle">
                        <h2>Internet de Calidad</h2>
                    </div>
                </div>
                <div class="cardimagen" style="background-image: url('./assets/img/img-streaming.jpeg');">
                    <div class="detalle">
                        <h2>Servicios de Streaming</h2>
                    </div>
                </div>
                <div class="cardimagen" style="background-image: url('./assets/img/img-support.jpeg');">
                    <div class="detalle">
                        <h2>Soporte 24/7</h2>
                    </div>
                </div>
                <div class="cardimagen" style="background-image: url('./assets/img/img-flex.jpeg');">
                    <div class="detalle">
                        <h2>Horarios Flexibles</h2>
                    </div>
                </div>
                <div class="cardimagen" style="background-image: url('./assets/img/img-clean.jpeg');">
                    <div class="detalle">
                        <h2>Lugares comodos</h2>
                    </div>
                </div>
                <div class="cardimagen" style="background-image: url('./assets/img/img-smartgi.jpeg');">
                    <div class="detalle">
                        <h2>Aplicación Móvil</h2>
                    </div>
                </div>
            </div>

        </div>
    </section>