.listacolor{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    align-items: baseline;
    margin-top: -30px;
}
.listacolor  i{
    border: 2px solid #fff;
    box-shadow: 0px 0px 2px #333;
    border-radius: 100px; height: 30px; width: 30px;
}

.woocommerce-tabs-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.tab-content-set{
    & .nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
        gap: 15px;
        
    }
    & li {

    }
    
}

.tb-cont-inside{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 15px;
}
