<app-loading *ngIf="isLoading"></app-loading>
<section class="topproperties" style="margin-bottom: 60px;" *ngIf="!isLoading">
        <div class="container">
            <h1>Productos Nuevos.</h1>
            <p class="text-center mb-3">Descubre nuestros mejores productos, seleccionados para tí!</p>

            <div class="grillacard mt-5"  >
                <ng-container class="lista-imagenes" *ngFor="let producto of productos | slice:0:10; let i = index ">
                    <div class="cardimageninfo">
                        <div class="cardimagen" [style.background-image]="'url(' + producto.img + ')' | imagenPipe: 'productos'">
                            <a [routerLink]="['producto/',producto.slug]">
                                <div class="info">
                                    <div class="topfav" *ngIf="identity"  style="cursor: pointer;">
                                        <i class="fa fa-heart-o"></i>
                                    </div>
                                </div>

                            </a>
                            <div class="detalle">
                                <div class="basico">
                                    <a [routerLink]="['producto/',producto.slug]">
    
                                        <h2>{{producto.titulo}}</h2>
                                    </a>
                                    <!-- <p> <i class="fa fa-marker"></i> {{producto.info_short |slice:0:40}}... </p> -->
                                    <p [innerHTML]="producto.info_short |slice:0:20"></p>
                                    <div class="precio">
                                        <p style="text-decoration: line-through;" *ngIf="+producto.precio_ahora !== +producto.precio_antes"><b>{{producto.precio_antes|currency}}</b></p>
                                    <p><b>{{producto.precio_ahora|currency}}</b></p>
                                    <span
                                                class="badge badge-danger badge-shadow align-middle mt-n2" *ngIf="+producto.precio_ahora !== +producto.precio_antes">Oferta</span>
                                    </div>
                                </div>
                                <div class="rating">
                                    44.4 <i class="fa fa-star"></i>
                                </div>
                                <div class="adicional">
                                    <!-- <p>{{producto.stock}}</p> -->
                                </div>
        
                            </div>
                        </div>

                    </div>

                </ng-container>
                <!-- <button class="btn-orange">View More</button> -->
            </div>
            <!-- <div class="clear"></div> -->
        </div>
    </section>