.topproperties{
    & .grillacard{
        height: 60vh;
        overflow: hidden;
        overflow-x: scroll;
    }
}

.imagencard{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.imagen-principal{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.galeria{
    padding: 15px
}

.lista-imagenes img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right:10px ;
    display: block;
}

.lista-imagenes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow-y: auto;
    margin-top: 10px;
}