.topproperties{
    & .grillacard{
        height: 60vh;
        overflow: hidden;
        overflow-x: scroll;
    }
}

.imagencard{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}