<app-header></app-header>
<app-slider></app-slider>
<app-destacados></app-destacados>
<div class="clear"></div>
<app-top-properties></app-top-properties>
<!-- <div style="display: flex;" class="flex justify-content-center mt-5 align-content-center align-items-center">
    <a [routerLink]="['./productos']"  class="btn btn-success btn-lg ">Todos nuestros productos</a>
</div> -->
<app-bestwelcome></app-bestwelcome>
<app-promocion></app-promocion>
<app-blog-featured></app-blog-featured>
<div style="display: flex; margin: 60px;" class="flex justify-content-center mt-5 align-content-center align-items-center">
    <a [routerLink]="['./blogs']"  class="btn-azul  ">+ News</a>
</div>
<app-experience></app-experience>
<app-inside></app-inside>
<app-marcas [limit]="limit" [displaycomponent]="displaycomponent"></app-marcas>
<div style="display: flex; " class="flex justify-content-center mt-5 align-content-center align-items-center">
    <a [routerLink]="['./marcas']"  class="btn-azul  ">Filtrar por marca</a>
</div>
<app-comments></app-comments>
<app-fotofooter></app-fotofooter>
<app-footer></app-footer>
