<app-loading *ngIf="isLoading"></app-loading>
<section class="topdestinations"  *ngIf="!isLoading">
    <div class="container">
        <div class="grilla">
            <h1 class="div1">Top Products<br> for your next shop</h1>
            <!-- <div class="cardimagen div2">
                <div class="info">
                    <h1>Buenaventura</h1>
                    <div class="topoftop">
                        <i class="fa fa-star"></i> Top of top
                    </div>
                </div>
            </div> -->
            
            <ng-container *ngFor="let producto of productos | slice:0:4; let i = index " >
                <div class="cardimagen" [ngClass]="'div' + (i + 2)" [style.background-image]="'url(' + producto.img + ')' | imagenPipe: 'productos'">
                    
                    <div class="info">
                                <a [routerLink]="['producto/',producto._id]">
                                <h1>{{ producto.titulo }}</h1>
                            </a>
                                <div class="topoftop">
                                    <i class="fa fa-star"></i> Top of top
                                </div>
                            </div>
                </div>
            </ng-container>
        </div>
    </div>
</section>
