<footer class="footer">
        <div class="container">
            <div class="row">
                <div class="menufooter">
                    <div class="contenido">
                        <img class="logo" src="./assets/logo.png" alt="logo Mall Connect">
                        <p>Life in the tropics</p>
                    </div>
                    <div class="contenido">
                        <h2>Connect us</h2>
                        <p>hola&#64;mallconnect.me</p>
                        <p>1234567890</p>
                    </div>
                    <div class="contenido">
                        <h2>About us</h2>
                        <ul>
                            <li><a href="">About us</a></li>
                            <li><a href="">Features</a></li>
                            <li><a href="">News</a></li>
                        </ul>
                    </div>
                    <div class="contenido">
                        <h2>Company</h2>
                        <ul>
                            <li><a href="">Why Acomodo?</a></li>
                            <li><a href="">Partner with us</a></li>
                            <li><a href="">FAQ</a></li>
                            <li><a href="">Blog</a></li>
                        </ul>
                    </div>
                    <div class="contenido">
                        <h2>Get in Touch</h2>
                        <p>Receive promotions, contents and news</p>

                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Your Email" aria-label="Your Email" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="button-addon2"> <i class="fa fa-chevron-right"></i> </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="creditsocial">
                <p>© 2024 Mall Connect.</p>
                <ul class="politicas">
                    <li><a href="">Politícas de Privacidad</a></li>
                    <li><a href="">Terminos y Condiciones</a></li>
                </ul>
                <ul class="social">
                    <li>
                        <a href="">
                            <div class="icon" id="facebook"></div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="icon" id="twitter"></div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="icon" id="instagram"></div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="icon" id="tiktok"></div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>