<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="menufooter" >
                <div class="contenido">
                    <img class="logo" src="./assets/logo.png" alt="logo Mall Connect">
                    <p>Best way to shop</p>
                </div>
                <div class="contenido">
                    <h2>Connect us</h2>
                    <p>hola&#64;mallconnect.me</p>
                </div>
                <div class="contenido">
                    <h2>Contenido</h2>
                    <ul>
                        <li><a [routerLink]="['/productos']">Products</a></li>
                        <li><a [routerLink]="['/blogs']">News</a></li>
                    </ul>
                </div>
                <div class="contenido">
                    <h2>Company</h2>
                    <ul>
                        <li><a [routerLink]="['/page','nosotros']">Why MallConnect?</a></li>
                        <li><a href="">Partner with us</a></li>
                        <li><a [routerLink]="['/page','faq']">FAQ</a></li>
                    </ul>
                </div>
                <div class="contenido">
                    <h2>Get in Touch</h2>
                    <p>Receive promotions, contents and news</p>

                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Your Email" aria-label="Your Email" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2"> <i class="fa fa-chevron-right"></i> </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="creditsocial">
            <p>© 2024 - {{year}} | Mall Connect.</p>
            <ul class="politicas" *ngFor="let page of pages;" >
                
                <li><a [routerLink]="['/page',page.slug]">{{page.titulo}}</a></li>
                <!-- <li><a [routerLink]="['/page', 'polticas-de-privacidad']">Politícas de Privacidad</a></li> -->
                <!-- <li><a [routerLink]="['/page', 'trminos-y-condiciones']">Terminos y Condiciones</a></li> -->
            </ul>
            <ul class="social reds" >
               
                <div class="socialr">
                    <li *ngFor="let red of redessociales;let i = index;">
                    <a  *ngIf="red.icono !== 'fa fa-whatsapp'" [href]="red.url" target="_blank" rel="noopener noreferrer">
                      <div class="option-admin">
                        <i class="{{red.icono}}"></i>
                      </div>
                    </a>
                    <a *ngIf="red.icono === 'fa fa-whatsapp'" 
                    href="https://wa.me/{{red.url}}?text=Estoy%20interesado%20en%20el%20producto,%20favor%20ampliar%20informacion"
                    target="_blank" rel="noopener noreferrer">
                      <div class="option-admin">
                        <i class="{{red.icono}}"></i>
                      </div>
                    </a>
                </li>
                </div>
               
            </ul>
        </div>
    </div>
</footer>