<app-header></app-header>
<app-loading *ngIf="isLoading"></app-loading>
<div *ngIf="!blog && !isLoading">
    <h1 class="text-center">No hay info</h1>
</div>
<div *ngIf="blog && !isLoading">
    <section class="sub-header shop-detail-1" style="height: 100px; background-repeat: no-repeat; background-size: cover; filter: blur(50px);"
        [style.background-image]="'url(' + blog.img + ')' | imagenPipe: 'blogs'">
        <img class="rellax bg-overlay">
    </section>

    <section class="blog-detail mt-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <img class="border-radius shadow"
                        style="width: 100%; height: 70vh; aspect-ratio:1/1; object-fit: cover;"
                        [src]="blog.img | imagenPipe: 'blogs'" alt="{{blog.titulo}} thumbnail">
                    <h1>{{ blog.titulo }}</h1>
                    <p class="text-muted">{{ blog.createdAt | date:'mediumDate' }}</p>
                    <div class="blog-content" [innerHTML]="blog.descripcion"></div>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>