 <section class="acomodoexperiences">
        <div class="container">
            <h1>AcoModo Experience</h1>
            <div class="cuadrogrande" *ngIf="option_selected == 1">
                <div class="texto">
                    <h1>Surf Lessons</h1>
                    <p>He has enough money to last forever. He knows he needs to keep moving. You'll never find him. he's out of the picture. I saved his life, I owed him that, but now he and I are done.</p>
                    <button class="boton-black-ouline">More</button>
                </div>
                <img src="./assets/img/img-chicas.jpeg" alt="Mall Connect Surf Lessons">
            </div>
            <div class="cuadrogrande" *ngIf="option_selected == 2">
                <div class="texto">
                    <h1>Hiking Lessons</h1>
                    <p>He has enough money to last forever. He knows he needs to keep moving. You'll never find him. he's out of the picture. I saved his life, I owed him that, but now he and I are done.</p>
                    <button class="boton-black-ouline">More</button>
                </div>
                <img src="./assets/img/img-chicas.jpeg" alt="Mall Connect Surf Lessons">
            </div>
            <div class="cuadrogrande" *ngIf="option_selected == 3">
                <div class="texto">
                    <h1>E-Bike Rentals</h1>
                    <p>He has enough money to last forever. He knows he needs to keep moving. You'll never find him. he's out of the picture. I saved his life, I owed him that, but now he and I are done.</p>
                    <button class="boton-black-ouline">More</button>
                </div>
                <img src="./assets/img/img-chicas.jpeg" alt="Mall Connect Surf Lessons">
            </div>
            <div class="cuadrogrande" *ngIf="option_selected == 4">
                <div class="texto">
                    <h1>Day Pass</h1>
                    <p>He has enough money to last forever. He knows he needs to keep moving. You'll never find him. he's out of the picture. I saved his life, I owed him that, but now he and I are done.</p>
                    <button class="boton-black-ouline">More</button>
                </div>
                <img src="./assets/img/img-chicas.jpeg" alt="Mall Connect Surf Lessons">
            </div>
            <div class="cuadrogrande" *ngIf="option_selected == 5">
                <div class="texto">
                    <h1>Private Cheff</h1>
                    <p>He has enough money to last forever. He knows he needs to keep moving. You'll never find him. he's out of the picture. I saved his life, I owed him that, but now he and I are done.</p>
                    <button class="boton-black-ouline">More</button>
                </div>
                <img src="./assets/img/img-chicas.jpeg" alt="Mall Connect Surf Lessons">
            </div>


            <div class="listacuadros">
                <div class="cuadross" [ngClass]="{'cuadross-black': option_selected == 1}" (click)="optionSelected(1)">
                    <img src="./assets/svg/surf.svg" alt="Mall Connect Surf Lessons">
                    <p>Surf Lessons</p>
                </div>
                <div class="cuadross" [ngClass]="{'cuadross-black': option_selected == 2}" (click)="optionSelected(2)">
                    <img src="./assets/svg/hiking.svg" alt="Mall Connect Surf Lessons">
                    <p>Hiking Lessons</p>
                </div>
                <div class="cuadross " [ngClass]="{'cuadross-black': option_selected == 3}" (click)="optionSelected(3)">
                    <img src="./assets/svg/biking.svg" alt="Mall Connect E-Bike Rentals">
                    <p>E-Bike Rentals</p>
                </div>
                <div class="cuadross" [ngClass]="{'cuadross-black': option_selected == 4}" (click)="optionSelected(4)">
                    <img src="./assets/svg/diamond.svg" alt="Mall Connect Day Pass">
                    <p>Day Pass</p>
                </div>
                <div class="cuadross" [ngClass]="{'cuadross-black': option_selected == 5}" (click)="optionSelected(5)">
                    <img src="./assets/svg/cooking.svg" alt="Mall Connect Private Cheff">
                    <p>Private Cheff</p>
                </div>
            </div>
        </div>
    </section>